/* Utilites  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  width: fit-content;
}
.medium-icon {
  width: 30px;
  height: 30px;
}
.small-icon {
  width: 18px;
  height: 18px;
}
ul {
  list-style: none;
}
.btn-default {
  border: none;
  background-color: transparent;
}
.hover:hover {
  color: rgb(132, 9, 166);
  font-weight: bolder;
  cursor: pointer;
  border-color: rgb(132, 9, 166);
}
.courses-hover:hover {
  color: rgb(132, 9, 166);
  font-weight: bolder;
  cursor: pointer;
  filter: brightness(80%);
}
/* Utilites End */

/* nav-bar */
.nav-bar {
  z-index: 1;
  height: 70px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 5px grey;
  position: relative;
}
.menu {
  display: none;
  width: 30px;
  height: 30px;
}
.logo {
  width: 99px;
  height: 34px;
}
.nav-item {
  padding: 20px;
}
.searchbar {
  flex-grow: 1;
  display: flex;
}
.search-button {
  padding: 70%;
  border: 1px solid black;
  border-radius: 0 30px 30px 0;
  border-left: none;
  background-color: rgb(132, 9, 166);
}
.search-input {
  border-radius: 30px 0 0 30px;
  border: 1px solid black;
  padding-left: 15px;
  flex: 1;
  background-color: #f7f9fa;
}
/* nav-bar End */

/* Header Section */
.header-section {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.header-section-text {
  position: relative;
  background-color: white;
  box-shadow: 0 5px 5px rgb(0 0 0 / 8%), 0 5px 5px rgb(0 0 0 / 8%);
  z-index: 1;
  padding: 1%;
  margin: -15rem 40rem 0 5rem;
  height: 30%;
}
.header-section-image {
  width: 100%;
}
/* header Section End */

/* First Section */
.first-section {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 2% 1% 0 1%;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 1%;
}

/* Courses Section */
.courses-section {
  border: solid rgb(156, 156, 156) 1px;
  padding: 1%;
  display: flex;
  flex-direction: column;
}
.courses-section-text p {
  max-width: 50rem;
}
.course {
  padding-left: 20px;
}
.explore-btn {
  border: 1px solid black;
  font-size: 16px;
  font-weight: bolder;
  padding: 0.5rem;
  width: 140px;
  margin: 2% 0 2% 0;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container-course {
  width: 17rem;
}
.course-image {
  width: 80%;
}
.course-info {
  width: 92%;
}
/* Courses Section End */

/* Second Section End */

/* Media Queires */
@media only screen and (max-width: 1096px) {
  .udemy-business {
    display: none;
  }
}
@media only screen and (max-width: 920px) {
  .teach-on-udemy {
    display: none;
  }
  .header-section-text {
    width: 50%;
    margin: -10rem 10rem 0 0;
  }
}
@media only screen and (max-width: 800px) {
  .categories,
  .searchbar,
  .login-btn,
  .sign-up-btn,
  .lang-btn,
  .cart {
    display: none;
  }
  .menu {
    display: inline-block;
  }
  .logo {
    position: fixed;
    right: 2%;
    float: 10%;
  }
  .header-section-text {
    width: 50%;
  }
}
@media only screen and (max-width: 700px) {
  .header-section-text {
    position: relative;
    box-shadow: 0 0px 0px rgb(0 0 0 / 0%), 0 0px 0px rgb(0 0 0 / 0%);
    margin: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .first-section-text,
  .courses-section-text,
  .explore-btn {
    display: none;
  }
  .container {
    display: flex;
    justify-content: center;
    padding: 5%;
  }
}
/* Media Queires End */

/* Footer */
footer {
  margin-top: 50px;
  height: 60px;
  background-color: black;
}
footer .logo {
  width: 99px;
  height: 40px;
  margin: 1%;
}
/* Footer End */
